<h1>Linear Algebra (CpE210A)

<h3>Midterms Project

Coded and submitted by:<br>
<i>Rivera, Mhike Romuel B.<br>
    201912259 <br>
   58051 </i>

Directions
This Jupyter Notebook will serve as your base code for your Midterm Project. You must further format and provide complete discussion on the given topic. 
- Provide all necessary explanations for specific code blocks. 
- Provide illustrations for key results.
- Observe clean code (intuitive variable names, proper commenting, proper code spacing)
- Provide a summary discussion at the end

Failure to use this format or failure to update the document will be given a deduction equivalent to 50% of the original score.

### Case

Bebang is back to consult you about her business. Furthering her data analytics initiative she asks you for help to compute some relevant data. Now she is asking you to compute and visualize her sales and costs for the past year. She has given you the datasets attached to her request.

### Problem

State and explain Bebang's problem here and provide the deliverables.

# Proof of Concept

Now that you have a grasp on the requirements we need to start with making a program to prove that her problem is solvable. As a Linear Algebra student, we will be focusin on applying vector operations to meet her needs. First, we need to import her data. We will use the `pandas` library for this. For more information you can look into their documentation [here](https://pandas.pydata.org/).

In [1]:
import pandas as pd

file_prices = "bebang prices.csv"
file_sales = "bebang sales.csv"

df_prices = pd.read_csv(file_prices, index_col=0)
df_sales = pd.read_csv(file_sales)


## Let's check what's in df_prices
df_prices

                 red velvet  oreo  ...  choco mint  choco butter naught
price per piece          35    25  ...          45                   45
cost per piece           25    15  ...          32                   31

[2 rows x 12 columns]

In [2]:
## Let's check the sales dataframe
df_sales

                  flavor  january  february  ...  october  november  december
0             red velvet      781       524  ...       78       231       899
1                   oreo      210       324  ...        6       312       548
2           sugar glazed      599       674  ...       98       781      1602
3           almond honey      124       112  ...       36       300       566
4                 matcha      645       498  ...       71       549       897
5       strawberry cream      210       372  ...       41       207       456
6       brown sugar boba      981       380  ...       36       552       633
7        furits and nuts      478       462  ...        8       335       214
8         dark chocolate      598       203  ...        0       789       458
9   chocolate and orange      324       123  ...      100       632       231
10            choco mint      458       412  ...        1       323       564
11   choco butter naught      778       586  ...       99       784      2310

[12 rows x 13 columns]

## Part 1: Monthly Sales

In [21]:
import numpy as np
### Vectorizing the data


sales_mat = np.array(df_sales.set_index('flavor'))
prices_mats = np.array(df_prices)[:1] ## reshape this vector to the appropriate size
costs_mats = np.array(df_prices)[1:] ## reshape this vector to the appropriate size
prices_mat = np.transpose(prices_mats)
costs_mat = np.transpose(costs_mats)

## Do not alter these lines
print(sales_mat.shape)
print(prices_mat.shape)
print(costs_mat.shape)
# Expected Output
# (12, 12)
# (12, 1)
# (12, 1)

(12, 12)
(12, 1)
(12, 1)

#### Formulas

Take note that the fomula for revenue is: <br>
$revenue = sales * price $ <br>
In this case, think that revenue, sales, and price are vectors instead of individual values <br>
The formula of cost per item sold is: <br>
$cost_{sold} = sales * cost$ <br>
The formula for profit is: <br>
$profit = revenue - cost_{sold}$ <br>
Solving for the monthly profit will be the sum of all profits made on that month.

In [23]:
#Create a function that *returns* and prints the monthly sales and profit for each month 

def monthly_sales(price, cost, sales):
    monthly_revenue = sales * price
    monthly_costs = sales * cost
    monthly_profits = monthly_revenue - monthly_costs  
    
    mprofit = monthly_profits.transpose()
    profitmonth = mprofit.sum(axis = 1)

    df_profit = pd.DataFrame(profitmonth)
    df_profit.columns = ["Monthly Profits"]
    df_profit.index = ['January',
                       'February',
                       'March',
                       'April',
                       'May',
                       'June',
                       'July',
                       'August',
                       'September',
                       'October',
                       'November',
                       'December']
    print(df_profit)
    return monthly_revenue.flatten(), monthly_costs.flatten(), monthly_profits.flatten()

In [24]:
### Do not alter this cell
month_rev, month_cost, month_profit = monthly_sales(prices_mat, costs_mat, sales_mat)
### print the values
print("\nRevenue:\n",month_rev,"\nCost:\n", month_cost,"\nProfit:\n" ,month_profit)

           Monthly Profits
January              79371
February             59208
March                53850
April                10001
May                  52824
June                  5527
July                  5598
August                5498
September             5034
October               7213
November             76548
December            117156

Revenue:
 [ 27335  18340  12740   5495  31290   1960   3115   1435    805   2730
   8085  31465   5250   8100   8600    800   3075     25     75      0
     25    150   7800  13700  11980  13480  17080    280   9340   1560
    720    960   1500   1960  15620  32040   4340   3920   3990    805
   6930    420   1120   1435    805   1260  10500  19810  32250  24900
  44250   4900   8850   4900   2150   4800   1300   3550  27450  44850
   8400  14880  14760   3120   6520   1040   1800    880   2160   1640
   8280  18240  39240  15200   6160    560   5880    600   3920   1320
    920   1440  22080  25320  21510  20790  15930   2205   4005      0
     45      0     45    360  15075   9630  17940   6090   1080   2880
  23670    120    150      0    240      0  23670  13740  12960   4920
   1920   1280   2600   2960   3120   1800   3560   4000  25280   9240
  20610  18540   3510   3510   3510    315    135    360     90     45
  14535  25380  35010  26370  29025   4500  44415   2835   1620   4005
   3510   4455  35280 103950]
Cost:
 [19525 13100  9100  3925 22350  1400  2225  1025   575  1950  5775 22475
  3150  4860  5160   480  1845    15    45     0    15    90  4680  8220
  5990  6740  8540   140  4670   780   360   480   750   980  7810 16020
  2480  2240  2280   460  3960   240   640   820   460   720  6000 11320
 22575 17430 30975  3430  6195  3430  1505  3360   910  2485 19215 31395
  6510 11532 11439  2418  5053   806  1395   682  1674  1271  6417 14136
 29430 11400  4620   420  4410   450  2940   990   690  1080 16560 18990
 11950 11550  8850  1225  2225     0    25     0    25   200  8375  5350
  8970  3045   540  1440 11835    60    75     0   120     0 11835  6870
  8100  3075  1200   800  1625  1850  1950  1125  2225  2500 15800  5775
 14656 13184  2496  2496  2496   224    96   256    64    32 10336 18048
 24118 18166 19995  3100 30597  1953  1116  2759  2418  3069 24304 71610]
Profit:
 [ 7810  5240  3640  1570  8940   560   890   410   230   780  2310  8990
  2100  3240  3440   320  1230    10    30     0    10    60  3120  5480
  5990  6740  8540   140  4670   780   360   480   750   980  7810 16020
  1860  1680  1710   345  2970   180   480   615   345   540  4500  8490
  9675  7470 13275  1470  2655  1470   645  1440   390  1065  8235 13455
  1890  3348  3321   702  1467   234   405   198   486   369  1863  4104
  9810  3800  1540   140  1470   150   980   330   230   360  5520  6330
  9560  9240  7080   980  1780     0    20     0    20   160  6700  4280
  8970  3045   540  1440 11835    60    75     0   120     0 11835  6870
  4860  1845   720   480   975  1110  1170   675  1335  1500  9480  3465
  5954  5356  1014  1014  1014    91    39   104    26    13  4199  7332
 10892  8204  9030  1400 13818   882   504  1246  1092  1386 10976 32340]

## Part 2: Flavor Sales

In [56]:
#Create a function that *returns* and prints the flavor profits for the whole year 
flavors = []
def flavor_sales(price, cost, sales):
    flavor_revenue = sales * price
    flavor_costs = sales * cost
    flavor_profits = flavor_revenue - flavor_costs 
    
    Red_velvet = [flavor_profits[0].sum()]
    flavors.extend(Red_velvet)
    print(Red_velvet)

    Oreo = [flavor_profits[1].sum()]
    flavors.extend(Oreo)
    print(Oreo)

    Sugar_glazed = [flavor_profits[2].sum()]
    flavors.extend(Sugar_glazed)
    print(Sugar_glazed)

    Almond_Honey = [flavor_profits[3].sum()]
    flavors.extend(Almond_Honey)
    print(Almond_Honey)

    matcha =  [flavor_profits[4].sum()]
    flavors.extend(matcha)
    print(matcha)

    strawberry_cream =  [flavor_profits[5].sum()]
    flavors.extend(strawberry_cream)
    print(strawberry_cream)


    brown_sugar_boba =  [flavor_profits[6].sum()]
    flavors.extend(brown_sugar_boba)
    print(brown_sugar_boba)

    furits_and_nuts =  [flavor_profits[7].sum()]
    flavors.extend(furits_and_nuts)
    print(furits_and_nuts)

    dark_chocolate =  [flavor_profits[8].sum()]
    flavors.extend(dark_chocolate)
    print(dark_chocolate)

    chocolate_and_orange =  [flavor_profits[9].sum()]
    flavors.extend(chocolate_and_orange)
    print(chocolate_and_orange)

    choco_mint =  [flavor_profits[10].sum()]
    flavors.extend(choco_mint)
    print(choco_mint)

    choco_butter_naught =  [flavor_profits[11].sum()]
    flavors.extend(choco_butter_naught)
    print(choco_butter_naught)

    df_flavors = pd.DataFrame(flavors)
    df_flavors.columns = ["Yearly Profit"]
    df_flavors.index = ["red velvet",
                        "Oreo",
                        "Sugar glazed0",
                        "Almond Honey",
                        "matcha",
                        "strawberry cream",
                        "brown sugar boba",
                        "furits and nuts",
                        "dark chocolate",
                        "chocolate and orange",
                        "choco mint",
                        "choco butter naught"]
    print(df_flavors)


    
    return flavor_profits.flatten()

In [57]:
### Do not alter this cell
flavor_profit = flavor_sales(prices_mat, costs_mat, sales_mat)
### print the values
print("Profit\n",flavor_profit)

[41370]
[19040]
[53260]
[23715]
[61245]
[18387]
[30660]
[39820]
[44790]
[27615]
[26156]
[91770]
                      Yearly Profit
red velvet                    41370
Oreo                          19040
Sugar glazed0                 53260
Almond Honey                  23715
matcha                        61245
strawberry cream              18387
brown sugar boba              30660
furits and nuts               39820
dark chocolate                44790
chocolate and orange          27615
choco mint                    26156
choco butter naught           91770
Profit
 [ 7810  5240  3640  1570  8940   560   890   410   230   780  2310  8990
  2100  3240  3440   320  1230    10    30     0    10    60  3120  5480
  5990  6740  8540   140  4670   780   360   480   750   980  7810 16020
  1860  1680  1710   345  2970   180   480   615   345   540  4500  8490
  9675  7470 13275  1470  2655  1470   645  1440   390  1065  8235 13455
  1890  3348  3321   702  1467   234   405   198   486   369  1863  4104
  9810  3800  1540   140  1470   150   980   330   230   360  5520  6330
  9560  9240  7080   980  1780     0    20     0    20   160  6700  4280
  8970  3045   540  1440 11835    60    75     0   120     0 11835  6870
  4860  1845   720   480   975  1110  1170   675  1335  1500  9480  3465
  5954  5356  1014  1014  1014    91    39   104    26    13  4199  7332
 10892  8204  9030  1400 13818   882   504  1246  1092  1386 10976 32340]

In [60]:
### identify the best-selling and least-selling flavors. You can use np.sort() or np.argmax() for this.
flavors = [flavors]
flavors.sort()
print('Best Flavors', flavors)
flavors.sort(reverse=True)
print('Worst Flavors', flavors)

Best Flavors [[[41370, 19040, 53260, 23715, 61245, 18387, 30660, 39820, 44790, 27615, 26156, 91770]]]
Worst Flavors [[[41370, 19040, 53260, 23715, 61245, 18387, 30660, 39820, 44790, 27615, 26156, 91770]]]

## Part 3: Visualizing the Data (Optional for +40%)
You can try to visualize the data in the most comprehensible chart that you can use.

In [ ]:
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

%matplotlib inline

#### Entire Dataset

#### Monthly Sales

#### Flavor Sales

## Part 4: Business Recommendation and Conclusion
Present the findings of your data analysis and provide recommendations

I advise to Aling Bebang is to add more flavors to her food. She may also experiment with various strategies for selling sweets, such as trying out and inventing a new flavor. To draw more buyers, the new flavor should be both special and tasty. Since her first year, she has made the most profit, and December has been her most profitable month.